.app__aboutme {
  padding: 10rem 1rem;
  font-family: var(--font-body);
  @media screen and (max-width: 600px) {
    padding: 4rem 1rem;
  }

  .app__aboutme-grid {
    max-width: 900px;
    margin-inline: auto;

    .app__aboutme-profile {
      border-radius: 4px;
      margin-inline: auto;

      .profile-title {
        font-size: 20px;
      }
    }

    .app__aboutme-skills {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      cursor: default;

      .skill {
        font-family: var(--font-body);
        padding: 0.2rem 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        border: 1px solid var(--color-blue-light-2);
        border-radius: 50px;

        .skill-logo {
          width: 18px;
        }
      }
    }
  }
}
