@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* FONT */
  --font-title: "Ubuntu", sans-serif;
  --font-body: "Poppins", sans-serif;

  /* COLOR */
  --color-blue-lighter: #ecf0fc;
  --color-blue-light-1: #d9e1f9;
  --color-blue-light-2: #c6d2f6;
  --color-blue: #4169e1;
  --color-blue-dark: #132f4c;
  --color-white: #ffffff;

  /* Z-INDEX */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}
